@charset "utf-8";

/*顶开头*/

.header-top {
	background-color: #FFF;
	width: 100%;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.head-layout {
	/*height: 100px;*/
	padding: 10px 0;
}

.head-logo {
	margin: 10px 0 0 0;
}


/*注册界面*/

.enroll-bg {
	background: #FAFAFA url(../img/enroll_bg.png) repeat 50% 50%;
	width: 100%;
	height: 680px;
	overflow: hidden;
}

.enroll-box {
	background: rgba(0, 0, 0, 0.15);
	width: 640px;
	height: 560px;
	padding: 10px;
	margin: 60px auto;
}

.enroll-layout {
	background-color: #FFF;
	display: block;
	width: 600px;
	height: 520px;
	padding: 19px;
	border: solid 1px #CCC;
	overflow: hidden;
}

.enroll-bg .enroll-box .left {
	width: 600px;
	height: 520px;
}

.enroll-tab {
	border-bottom: solid 1px #E6E6E6;
}

.enroll-tab li {
	text-align: center;
	display: inline-block;
	width: 45%;
	height: 40px;
	margin-bottom: -6px;
	padding-left: 0;
}

.enroll-tab a {
	font-size: 18px;
	color: #999;
	line-height: 24px;
	padding-bottom: 10px;
	position: relative;
	z-index: 1;
	text-decoration: none;
}


/*用户注册*/

.enroll {
	position: relative;
	z-index: 1;
}

.enroll-content {
	padding: 30px 80px 0 100px;
	border-width: 0 1px;
	zoom: 1;
	position: relative;
	z-index: 1;
}



/*改*/
/*用户登录*/

.form-item-account {
	z-index: 13
}

.form-item {
	position: relative;
	border: solid 1px #ddd;
	width: 398px;
	height: 52px;
}

.form-item label {
	float: left;
	width: 90px;
	height: 52px;
	line-height: 52px;
	padding-left: 20px;
	font-size: 14px;
}

.form-item .field {
	border: 0 none;
	font-size: 14px;
	width: 190px;
	height: 19px;
	padding-bottom: 11px;
	padding-left: 20px;
	padding-top: 16px;
}

.form-item .img-code {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 110px;
	height: 46px;
	cursor: pointer;
}

.form-agreen {
	color: #333;
	font-size: 12px;
}

.form-agreen input {
	width: 18px;
	height: 18px;
	border: solid 1px #cfd1d3;
	vertical-align: text-top;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

.form-agreen a {
	color: #38f;
}

.btn-register {
	width: 100%;
	height: 54px;
	color: #fff;
	background: #e22;
	border: 0;
	font-size: 16px;
	font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

.input-tip {
	color: #c5c5c5;
	/*height: 17px;*/
	font-size: 12px;
	padding-top: 5px;
}

.input-tip .error {
	color: #e22;
}

.error{
	color: red;
}
/*手机注册*/

.mobile-registration{
	display: none;
}

.mobile-registration div{
	margin-bottom: 10px;
}

.btn-phonecode {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 110px;
    height: 46px;
    border: none;
    background: #f2f2f2;
    color: #333;
    padding: 0;
}

/*登录界面右*/


/*.enroll-bg .enroll-box .right {
	width: 200px;
	height: 500px;
	padding: 20px 0 0 19px;
	border-left: solid 1px #E6E6E6;
}*/


/*售后保证*/

.wrapper .shouhou {
	background-color: #fff;
	padding: 30px 0;
}

.wrapper .shouhou ul li {
	float: left;
}

.footer {
	padding-bottom: 30px;
	text-align: center;
}

.footer a {
	margin: 0 10px;
}


/*页面底部*/

.login-bottom .copyright {
	/*margin: 10px 0;*/
	margin-bottom: 10px;
	text-align: center;
}

.login-bottom .footer a:hover {
	color: #e4393c;
}